<nav class="nav-container">
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" href="#home">@(CurrentLanguage == "EN" ? "Home" : "Accueil")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">@(CurrentLanguage == "EN" ? "About Me" : "À Propos")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#works">@(CurrentLanguage == "EN" ? "Works" : "Projets")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#skills">@(CurrentLanguage == "EN" ? "Skills" : "Compétences")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">@(CurrentLanguage == "EN" ? "Contact Me" : "Contactez-moi")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
    </ul>
</nav>

@code {
    [Parameter] public string CurrentLanguage { get; set; }
    [Parameter] public EventCallback ToggleLanguage { get; set; }

}
